[Service]
ExecStart=
ExecStart=/usr/bin/dockerd --tlsverify --tlscacert={{ remote_cert_dir }}/ca.crt --tlscert={{ remote_cert_dir }}/{{ inventory_hostname }}.crt --tlskey={{ remote_cert_dir }}/{{ inventory_hostname }}.key -H 0.0.0.0:2376 -H fd:// --insecure-registry=10.0.0.0/8 --dns={{ docker_dns }} --log-driver syslog --log-opt syslog-address="tcp://{{ elastic_server }}:5000" --log-opt tag="[container={% raw %}{{.Name}}, container_id={{.FullID}}, image_name={{.ImageName}}{% endraw %}]"
