[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H fd:// -H 0.0.0.0:2375 --log-driver syslog --log-opt syslog-address="tcp://{{ elastic_server }}:5000" --log-opt tag="[container={% raw %}{{.Name}}, container_id={{.FullID}}, image_name={{.ImageName}}{% endraw %}]"
