- name: Add Elasticsearch Key
  apt_key:
    keyserver: hkp://p80.pool.sks-keyservers.net:80
    id: 46095ACC8548582C1A2699A9D27D666CD88E42B4
  tags: [kibana]

- name: Add Kibana repository and update apt cache
  apt_repository:
    repo: deb http://artifacts.elastic.co/packages/5.x/apt stable main
    update_cache: yes
    state: present
  tags: [kibana]

- name: Kibana installed
  apt:
    name: kibana=5.4.1
    state: present
    force: yes
  tags: [kibana]

- name: Copy config files
  copy: 
    src: kibana.yml
    dest: /opt/kibana/config/
  register: config_result
  tags: [kibana]

- name: Enable the Kibana service and start it.
  service:
    name: kibana.service
    state: started
    enabled: yes
  tags: [kibana]

- name: Systemd reload
  command: systemctl daemon-reload
  when: config_result|changed
  tags: [kibana]

- name: Service is restarted
  service:
    name: kibana
    state: restarted
  when: config_result|changed
  tags: [kibana]
